 a {
  color:darksalmon;
  text-decoration: none;
  font-size:20px;
  margin-top: -10px;
}

h1 {
  font-size: 50px; text-align: center;
  color: black;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  margin-bottom: -20px;
}

ul {
  border-right: 1px solid gray;
  margin:0px;
  width:150px;
  padding-left: 50px;
  padding-top: 15px;
}

#grid {
 display:grid;
 grid-template-columns: 230px 1fr;
}

#article {
 padding-top:20px;
}

@media(max-width:800px){
 #grid{
   display: block;
 }
 ul{
   border-right:none;
  }
}
